.container {
  background-color: #282D35;
  ;
  width: 550px;
  height: 459px;
}

.nav {
  background-color: #21222A;
  ;
  width: 550px;
  height: 91px;
  display: flex;
  
}

img {
  width: 158px;
  height: 28.93px;
  display: flex;
}

.nav-item {
  font-family: Inter;
  font-weight: 600;
  line-height: 19.36px;
  color: #DEEBF8;
  display: inline-block;
}